<p> Hi <%= @user.email %>!</p>

<p> I'm excited to let you know that we have found some ride(s) that matches your request! </p>
<p> Please click <%= link_to "here", controller: 'welcome', action: 'index', ride: @ride, host: "depauwrides.herokuapp.com" %> to decide which one suits you the best! </p>
<p> Best, </p>
<p> Khoi </p>
