<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>You guys are matched!</h4>
    <p>
      Hi <%= @rider.email %>, <%= @driver.email  %> has just matched your request. I include you two in this email.<br>
    </p>
    <p>Please find your itinerary <%= link_to "here", user_url(@rider) %> and feel free to exchange contacts!</p>
    <p>Thank you and have a pleasant ride together!</p>
    <p> Best, </p>
    <p> Khoi </p>
  </body>
</html>
