<p> Welcome to DePauw Rides, <%= @user.email %></p>

<p> Thank you for signing up. I hope you will enjoy the rides and find more interesting people at DePauw! </p>
<p> Please don't hesitate to request rides and let me know if you have any question! </p>
<p> Best, </p>
<p> Khoi </p>
