<html>
  <head><title></title></head>
  <%= render partial: "layouts/header" %>
  <script>
    $(function(){
    $.get("/by_start.html.template")
    .done(function(text){template = _.template(text)})
    .then(
    function(){ $.get("/by_start_json")
    .done(function(text){data = text})
    .then(function(){
      $("#content").html(template(data))})})
    });
  </script>
  <div id="content">
  </div>
</html>
