/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require user
 *= require select2
 *= require bootstrap3-switch
 *= require bootstrap-datetimepicker
 *= require font-awesome
 *= require bootstrap-social
 *= require_tree .
*/
/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 60px;
  margin: 0 auto 30px;
  background-color: #ccc;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  width: 100%;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.sb-page-header{
    height: 200px;
    background: url("../images/radial.png") no-repeat center;
    -webkit-font-smoothing: antialiased;
   border-bottom: 2px solid #F1CB00
}
.sb-page-header h1{
  color: #fff;
  margin-top: 70px;
  font-size: 48px;
  font-family: "adobe-caslon-pro","Georgia",serif;
}
.black-depauw{
  background: #222;
}
.nav{
   overflow: hidden;
 }
.content{
  background: #aaa;
  padding-top: 10px;
  padding-bottom: 10px;

}
.nav-tabs > li > a{
  color: #ffffff;
}
.nav-tabs > li > a:hover{
  color: #F1CB00;
}
.nav-tabs > li{
  color: #aaa;
}
strong{
  color: #F1CB00
}
.btn-depauw{
  background: #F1CB00 !important;
}
.btn-danger{
  background: #b92c28 !important;
}
.btn-success{
  background: #3e8f3e !important;
}
.panel-depauw > .panel-heading{
  background: #F1CB00 !important;
}
.panel-depauw{
  margin-top: 10px;
  border-color: #F1CB00 !important;
  margin-bottom: 80px !important;
}
.panel-success > .panel-heading{
  background: #d6e9c6 !important;
}
.panel-success {
  margin-top: 10px;
  border-color: #d6e9c6 !important;
  margin-bottom: 80px !important;
}
.alert-success{
  background: #F1CB00 !important;
  border: #F1CB00 !important;
  color: #222 !important;
}
.alert .close{
  right: 8px !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
  background: #F1CB00 !important;
  color: #000 !important;
}
.label-warning{

}
h1{
  color: #ccc !important;
}
h2, h3 {
  color: #222 !important;
}
h4{
  color: #ccc !important;
}
.table {
      width: 100% !important;
    }
.container{
  width: 80% !important;
  display: block !important;
}
.toolbar{
  margin-top: 10px;
}
.bottom-depauw{
  border-top: 2px solid #F1CB00;
}
.btn {
  margin-top: 0px !important;
}
.fb-like{
  margin-top:20px;
}
.dataTables_scroll{
  margin-bottom: 20px;
}
