<!DOCTYPE html>
<html lang="en">
    <footer class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="bottom-depauw"></div>
      <div class="container">
        <p class="navbar-text pull-left"> Site buit by Khoi</p>
        <p class="navbar-text pull-right">
          <button class="btn btn-depauw">Like us on Facbeook</button>
          </p>
      </div>
    </footer>
</html>
